fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings

grpcio
grpcio-tools
protobuf

python-dotenv

# Observability
prometheus-client

# Testing
pytest
pytest-asyncio
httpx
requests
